header {
    width: 100%;
    /* animation magic */
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out ;
    z-index: 9999;
    top: 0;
}

#shrink {
    padding: 30px 0;
}

/* borrowed from CodePen - https://codepen.io/tomdurkin/pen/nvAjd*/