* {
    margin : 0;
    padding : 0;
}

#header {
    font-family: 'Oswald', sans-serif;
}

#header>h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 50;
    letter-spacing: 2.5px;
}

#sidebar {
    border-top: 0;
    margin-top: 0%;
    height: 100%;
    background-color: #ffbb00;
}

.black {
    background-color: #020202;
}

.offwhite {
    background-color: #e5f2c9;
}

.maroon {
    background-color: #6b2737;
}

.goldish {
    color: #ffbb00;
}

.red{
    background-color: #ad343e
}

.sticky {
    position: sticky;    
    position: -webkit-sticky;
    top: 0;
    padding-top: 0;
}